<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Check this one out!</title>
  </head>
  <body>
    <h3>This animal is legit:</h3>
    <h4><%= skill.name %></h4>
    <p><%= skill.level %></p>
    </body>
</html>
